.btn {
  display: inline-block;
  width: 18rem;
  height: 5.3rem;
  padding: 1.4rem;
  background-color: $button-bg-color;
  font-family: $main-font;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border: 1px solid $button-bg-color;
  &:hover {
    border: 1px solid $button-bg-color;
    background-color: inherit;
    color: $yellow;
  }
  &:active {
    opacity: 0.6;
  }
}
.tuggle-btn {
  display: none;
  @include responsive(l-phone) {
    display: block;
  }
}
