.map {
  margin-bottom: 12rem;
  &__container {
    background-image: url(../images/svg/map-bg.svg);
    height: 54.3rem;
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;

    @include responsive(s-desktop) {
      height: 50rem;
    }
    @include responsive(l-table) {
      height: 40rem;
    }
    @include responsive(table) {
      height: 33.7rem;
    }
    @include responsive(l-phone) {
      height: 25.7rem;
    }
  }
  &__wrapper {
    display: none;
    div {
      a {
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        font-size: $h4-size;
        line-height: $h4-lineHight;
        font-weight: 700;
        color: $darkNavy;
        background: rgba(252, 183, 43, 0.15);
        max-width: 31.1rem;
        padding: 2.2rem;
      }
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }
  @include responsive(phone) {
    &__container {
      height: 20.3rem;
      background-image: url(../images/svg/map-ph.svg);
    }
    &__wrapper {
      display: block;
      div {
        margin-right: auto;
        margin-left: auto;
      }
      //   justify-content: center;
      //   align-items: center;
    }
  }
  @include responsive(m-phone) {
    &__container {
      height: 15.3rem;
    }
  }
}
.listed {
  margin-bottom: 12rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    gap: 3rem;
  }
  &__title {
    max-width: 35rem;
  }
  &__desc {
    max-width: 44.5rem;
  }
  @include responsive(xl-table) {
    text-align: center;
    .container {
      flex-direction: column;
    }
    &__wrapper {
      flex-direction: column;
      margin-bottom: 4rem;
    }
    &__title {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
